*{
    margin: 0; 
    padding: 0;
} 
@font-face{
    font-family: myFont; 
    src: url('../SourceSansPro-Bold.otf'); 
} 
@font-face{
    font-family: regular; 
    src:url('../SourceSansPro-Regular.otf')
} 
@font-face {
    font-family: semibold;
    src: url('../SourceSansPro-Semibold.otf');
}
.header{ 
    height: 800px;
    background-image: url(../images/headphones_hero_1.jpg); 
    background-repeat: no-repeat;
} 
nav {
    display: flex; 
    padding: 2% 6%;
    justify-content: space-between; 
    align-items: center;
}  
nav img { 
    width: 162px;
    left: 150px; 

} 
.navlinks {
   flex: 1; 
   text-align: right;

}  
.navlinks ul li{
    list-style: none; 
    display: inline-block; 
    padding: 8px 12px; 
    position: relative;    
} 
.navlinks ul li a{ 
    color: white; 
    text-decoration: none; 
    font-size: 12px;
    font-family: myFont; 
    margin: auto;
}  
.navlinks ul li::after{ 
    content: ''; 
    width: 0%; 
    height: 2px; 
    background: #ff6565; 
    display: block; 
    margin: auto;

} 
.navlinks ul li:hover::after{
    width: 100%; 
    transition: 0.5s;
}
.textbox{
    width: 90%; 
    color: #ffffff; 
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    text-align: center;
} 
.textbox h1{
    font-size: 32px; 
    font-family: myFont;
} 
.textbox button{ 
    border: 1px solid #ff6565; 
    display: inline-block; 
    text-decoration: none; 
    width: 162px;
    height: 44px; 
    font-size: 14px; 
    margin-top: 30px; 
    position: relative; 
    font-family: myFont; 
    color: #ffffff; 
    background-color: #ff6565;
    background-color: transparent; 
    border-radius: 30px; 
} 
.textbox button:hover{ 
    border: 1px solid #ff6565;  
    background: #ff6565; 
} 
.textbox button:active{ 
    border: 1px solid #ff6565;  
    background: #ff6565; 
} 
.textbox p{ 
    width: 637px; 
    height: 104px; 
    top: 170%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    text-align: center;
    position: absolute;
    font-family: myFont; 
    font-size: 14px; 
}  
.fa{
    display: none;
}
@media(max-width: 1000px){ 
    .header img{
        margin-top: 60px; 
        margin-left: 100px; 
        position: absolute;
    }
    .textbox h1{
        font-size: 30px;
    } 
    .navlinks ul li{
        display: block;
    } 
    .navlinks ul li{ 
        text-align: center;  
        top: 150px; 
        padding-bottom: 30px;
        position: relative;
    } 
    .fa{ 
        left: -400px;
        position: relative; 
        cursor: pointer;
    } 
    .fa.fa-times{
        top: 90px; 
        left: -390px;
    } 
    .navlinks{
        top: 0; 
        right: 600px; 
        position: relative;
    }
} 
.what-we-do{
    margin-top: 0px;  
    position: relative;
    height: 684px; 
    background-color: #ffffff;
} 
.do{
    width: 637px; 
    height: 184px; 
    left: 382px; 
    margin-top: 100px; 
    position: relative;
} 
.do h1{ 
    text-align: center; 
    font-family: semibold;
} 
.do p{ 
    width: 637px; 
    height: 104px;  
    margin-top: 80px; 
    position: relative;
    text-align: center; 
    font-size: 16px; 
    font-family: regular;
} 
.images{
    width: 1002px; 
    height: 193px; 
    left: 200px; 
    margin-top: 100px;
    position: relative;
    display: flex;
} 
.image1 h1{
    font-family: semibold; 
    padding-top: 12px; 
    padding-bottom: 12px; 
}
.image p{
    font-family: regular; 

}
@media(max-width :1000px){
    .do{
        width: 325px; 
        height: 288px; 
        left: 30px;
        position: relative;
        text-align: center;
    } 
    .do p{
        width: 325px; 
        height: 208px; 
        text-align: center;
    } 
    .images{
        flex-direction: column; 
        width: 207px;
        left: 100px;  
        margin-top: 0px;
        position: relative;
    }
}


.our-results{
    background-image: url('../images/headphones_hero_2.jpg'); 
    height: 650px; 
    margin-top: 0px;
} 
.results{
    width: 90%; 
    color: #ffffff; 
    position: relative;
    top: 30%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    text-align: center; 
    font-family: semibold;
} 
.results h2{
    margin-top: 141px; 
    position: relative;
}
.results p{
    width: 637px; 
    height: 104px; 
    font-size: 14px; 
    top: 80px;
    left: 50%; 
    transform: translate(-50%, -50%); 
    text-align: center; 
    position: relative; 
    font-family: regular;
} 
.pentagone{ 
    width: 1002px; 
    height: 193px; 
    left: 200px; 
    top: 156px; 
    position: relative;
    display: flex; 
    justify-content: space-between; 
    align-items: center;

} 
.pentagone img{
    width: 190px; 
    height: 190px;
} 
@media(max-width: 1000px){ 
    .our-results{
        margin-top: 300px; 
        position: relative;
    } 
    .results{
        width: 325px; 
        height: 288px; 
        left: 200px; 
        position: relative;
    } 
    .results p{
        width: 325px;
    } 
    .pentagone{ 
        left: -300px;
        margin-top: -200px;
        position: relative; 
        flex-direction: column;
    } 
    .pentagone img{
        width: 100px; 
        height: 100px;
    }
} 
.contact{
    margin-top: 0px; 
    height: 688px; 
    background-color: #ffffff;
} 
.details{
    width: 335px; 
    height: 373px; 
    left: 553px; 
    top: 150px; 
    position: relative; 
    display: flex; 
    flex-direction: column;
} 
.details h1{
    padding-bottom: 8px; 
    text-align: center; 
    font-family: semibold;
}
.c-details{ 
    padding: 32px;
    display: flex; 
    flex-direction: column;
} 
.c-details h3{
    padding: 12px; 
    font-family: semibold;
} 
.details button{ 
    display: inline-block;
    border: 1px solid #ffffff; 
    border-radius: 30px; 
    margin-top: 30px; 
    left: 50px;
    position: relative; 
    width: 162px; 
    height: 64px;
    font-family: myFont; 
    color: #ffffff; 
    background-color: #ff6565; 
    text-align: center;

} 
.details button:hover{ 
    border: 1px solid #071629;  
    background: #071629; 
} 
.details button:active{ 
    border: 1px solid #071629;  
    background: #071629; 
} 
@media(max-width: 1000px){
    .details{
        width: 335px; 
        left: 20px;
    }
}
